#mn-footer{
    text-align: center;
    color:white;
    font-family: 'Monda', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.ftr-lnk{
    display:inline-block;
    margin-left:2%;
}

a{color:white;}
a:hover{color:gray;}

