/*WRITTEN BY KYLE CHRISTIE, GLASGOW CLYDE COLLEGE (2021) -- DEVELOPING WEBSITES FOR MULTIPLATFORM USE ~ HND Software Development*/

/* The footer container */
#mn-footer{
    text-align: center;
    color:white;
    font-family: 'Monda', sans-serif;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
}

/* footer links*/
.ftr-lnk{
    display:inline-block;
    margin-left:2%;
}

/* Refers to link anchors, styling for footer links*/
a{color:white;}
a:hover{color:gray;}

