#mn-footer{
    text-align: center;
    color:white;
    font-family: 'Monda', sans-serif;
    bottom:0;
    position: absolute;
    display:inline-block;
    white-space:nowrap;
    margin-left: 12%;
    margin-right: 12%;
}

.ftr-lnk{
    display:inline-block;
    margin-left:3%;
}

a{color:white;}
a:hover{color:gray;}

