/*WRITTEN BY KYLE CHRISTIE, GLASGOW CLYDE COLLEGE (2021) -- DEVELOPING WEBSITES FOR MULTIPLATFORM USE ~ HND Software Development*/
/*This CSS sheet is written for mobile first with media queries used for devices larger than mobile*/


/*Handles hovering over nav links*/
.hdr-nav-lnk:hover{color:gray;}

/*The container itself*/
#hdr-nav-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
}

/* Links within the nav bar*/
.hdr-nav-lnk{
    list-style-type: none;
    text-align: center;
}

/** Mobile (Burger) Bar **/
#mob-nav-bar{
    display: inline-block;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;

}

#backButton{
    font-size: 30px;
    display: inline-block;
    position: absolute;
    left: 20px;
}

#backButton:hover{
    color:gray;
}

/** The NAV tag and its contents **/
#hdr-nav{
    margin-left: 10%;
    margin-right: 15%;
}

/* nav headers */
#hdr-text{
    margin-left:10%;
    margin-right: 10%;
}

/** Non-responsive styling **/
@media screen and (min-width: 800px) {
    /*The container itself*/
    #hdr-nav-container{
        position: center;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;

    }

    /* nav headers */
    #hdr-text{
        margin-left:30%;
        margin-right:30%;
        margin-bottom:5%;
        text-align: center;

    }

    /** The NAV tag and its contents **/
    #hdr-nav{
        margin-bottom:5%;
        display:flex;
        justify-content:flex-end;
        flex-direction: column;
        width: 80%;
        margin-left: 30%;
        margin-right: 30%;
    }

    /* Links within the nav bar*/
    .hdr-nav-lnk{
        display:inline-block;
        text-align: left;
        margin-left:15%;
        margin-right:10%;
    }

    /** Mobile (Burger) Bar **/
    #mob-nav-bar{display:none;}
}