body{
    background-image:url("../images/theatre-blur2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    font-family: 'Monda', sans-serif;
}

#sect_main{
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    text-align: center;
}


.form_component{
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.login_switch{
    text-align: center;
}

@media screen and (min-width: 800px ){
    /** ~ Page Main Content ~ **/
    #main_header{
        margin-left:1%;
        display: flex;
        justify-content:flex-end;
        align-content: initial;
        margin-right: 50%;
    }

    #sect_main{
        margin-top:3%;
        margin-bottom:3%;
    }

    .main_text, .con_text{
        margin-top:3%;
        margin-bottom:3%;
    }

    .main_text{
        text-align: left;
        margin-left:28%;
        margin-right: 28%;
    }

    .con_text{
        margin-left: 40%;
        margin-right: 40%;
        text-align: center;
    }

    /** ~ End Main Content ~ **/

    /** ~ Login-Register rules ~ **/

    .form_component {
        display: inline;
        margin-left: 10%;
        margin-right: 10%;
        margin-top:3%;
        margin-bottom: 3%;
    }

    #sect_login, #sect_regi, #frm_login, #frm_regi, #frm_submit{
        margin-left: 30%;
        margin-right: 30%;
    }

    #sect_login, #sect_regi{margin-top: 5%;}


    .login_switch{text-align: center;}
    .login_switch:hover{color:gray;}

    /** ~ End Login-Register rules ~ **/
}

