body{
    background-image:url("../images/theatre-blur2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    font-family: 'Monda', sans-serif;
}

#sect_main{
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    text-align: center;
}

/** MOBILE LOGIN **/
.form_component{
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.login_switch{text-align: center;}
.login_switch:hover, #blog_cat_list li:hover{color:gray;}

/** MOBILE BLOG **/
#latest_article{display: none;}

#sect_blog{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

#blog_cat_head{
    margin-left: 20%;
}

.con_text, #blog_cat_list li, .login_switch{
    cursor: pointer;
}

#blog_cat_list li{list-style-type:none;}

#sect_articles{
    margin-left: 10%;
}

.article_container{
    text-align: center;
    align-content: center;
}

@media screen and (min-width: 800px ){
    /** ~ Page Main Content ~ **/
    #main_header{
        margin-left:1%;
        display: flex;
        justify-content:flex-end;
        align-content: initial;
        margin-right: 50%;
    }

    #sect_main{
        margin-top:3%;
        margin-bottom:3%;
    }

    .main_text, .con_text{
        margin-top:3%;
        margin-bottom:3%;
    }

    .main_text{
        text-align: left;
        margin-left:28%;
        margin-right: 28%;
    }

    .con_text{
        margin-left: 40%;
        margin-right: 40%;
        text-align: center;
    }

    /** ~ End Main Content ~ **/

    /** ~ Login-Register rules ~ **/

    .form_component {
        display: inline;
        margin-left: 10%;
        margin-right: 10%;
        margin-top:3%;
        margin-bottom: 3%;
    }

    #sect_login, #sect_regi, #frm_login, #frm_regi, #frm_submit{
        margin-left: 30%;
        margin-right: 30%;
    }

    #sect_login, #sect_regi{margin-top: 5%;}

    /** ~ End Login-Register rules ~ **/

    /** ~ Blog rules ~ **/

    #blog_cat{
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        width:20%;
        float:left;
        margin-bottom: 10%;
    }

    #blog_cat_head{
        margin-left:9%;

    }

    #blog_cat_list li {
        list-style-type: none;
        margin-top: 3%;
        align-content: center;
    }

    #latest_article{
        display:block;
        text-align: center;
        margin-left:6%;
        margin-right:10%;
        width: 40%;
        float:left;
        margin-bottom: 20%;
    }

    #sect_blog{
        display:block;
        margin-top:3%;
        margin-bottom:6%;
        margin-left: 20%;
        margin-right:20%;
    }

    #latest_art_img{
        margin-right: 10%;
        margin-left:10%;
        margin-bottom: 10%;
        float:left;

    }

    #sect_articles{
        display:block;
        /**margin-top:3%;**/
        margin-bottom:20%;
        margin-left: 25%;
        margin-right:20%;

    }

    .article_container{
        margin-left: 5%;
        margin-right: 20%;
        width: 7%;
        float: left;
        margin-bottom: 10%;

    }

    .article_title, .article_type{
        margin-left: 80%;

    }

    .article_desc{
        margin-left: 55%;
        text-align: center;
    }

    /** ~ End Blog rules ~ **/
}

